# Media
*.mp4
*.png
*.mov

# Python Files
*.pyc
*__pycache__*
*.ipynb_checkpoints

# Environment FIles
*.env

# Formatting
*.DS_Store
*.DS_STORE
*.mypy*
*.vscode
*.sublime-workspace

# Output Files
*.out
*.csv
*.model
*.h5

# Secrets
secrets.yaml
config/*.json